/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /***** General Styles *****/

html {
 font-size: 16px;
}

body {
 color: #e2e3ed;
 font-family: 'Open Sans', sans-serif;
 font-size: 1em;
 font-weight: normal;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

h2 {
 font-family: 'Poppins', sans-serif;
 font-size: 1.875em;
 font-weight: 500;
}

h3,
h4 {
 font-family: 'Poppins', sans-serif;
 font-size: 1.125em;
 font-weight: 500;
}

p {
  font-size: .9em;
  line-height: 1.285;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

   /***** Mobile styles *****/

   /***** Base header - footer styles *****/

   header,
   footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   /***** Header styles *****/

   header {
     background: #202322;
     padding: 15px 0;
   }

   header figure {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

   .header-divider {
     height: 1px;
     width: 100%;
   }

   header .content-wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     margin: 0;
     padding: 0 20px;
     width: 100%;
   }

   header nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-flow: row wrap;
     padding: 15px 0;
     width: 60%;
   }

   header nav ul {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
     width: 45%;
   }

   header nav ul li {
     list-style: none;
     text-transform: uppercase;
   }

   /***** Homepage styles *****/

   #hero-area {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background: url('../img/jake-melara-30679-unsplash.jpg') center no-repeat #333;
     background-size: cover;
   }

   #hero-area .content-wrapper {
     padding: 0 20px;
   }

   #hero-area h1 {
     font-size: 2.2em;

     margin: 0;
   }

   aside {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background: #527158;
   }

   aside .content-wrapper {
     padding: 0 20px;
   }

   aside h3 {
     margin: 0;
   }

   input[type=text] {
     box-sizing: border-box;
     width: 100%;
     color: #2a423a;
     font-style: italic;
     margin-top: 18px;
     padding: 1em;
   }

    input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #2a423a;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
   }

   #features {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background: url('../img/rawpixel-800820-unsplash1.jpg') center no-repeat #333;
     background-size: cover;
   }

   #features .content-wrapper {
     padding :0 20px;
   }

   .features-items {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   #features article {
     padding: 20px 0;
     text-align: center;
     width: 60%;
   }

   #features h2 {
     font-weight: 500;
   }

   #features p {
     margin: 0;
   }

   .fontawesome-icon {

   }

   .features-item-description {

   }

   #reviews {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background: #527158;
   }

   #reviews .content-wrapper {
     padding: 0 20px;
   }

   /***** About page styles *****/

   #mission {
     display: flex;
     justify-content: center;
     align-items: center;
     background: #527158;
   }

   #mission .content-wrapper {
     display: flex;
     justify-content: flex-start;
     flex-flow: row wrap;
     padding: 0 20px;
   }

   .mission-content {
     display: flex;
     justify-content: flex-start;
     flex-flow: row wrap;
   }

   #map {

   }

   #contact-section {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background: #2a423a;
   }

   #contact-section .content-wrapper {
     padding: 0 20px;
     width: 100%;
   }

   .contact-content {
     display: flex;
     justify-content: flex-start;
   }

   .contact-content address {
     display: flex;
     justify-content: flex-start;
   }

   /***** FAQ page styles *****/

   #faq {
     display: flex;
     justify-content: center;
     align-items: center;
     background: #527158;
   }

   #faq .content-wrapper {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-flow: row wrap;
     padding: 0 20px;
   }

   #faq .faq-content {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-flow: row wrap;
   }

   /***** Footer styles *****/

   footer {
     background: #202322;
   }

   footer .content-wrapper {
     text-align: center;
     width: 55%;
   }

   footer p {
     margin: 0;
   }

   footer address {
     font-style: normal;
   }

   .social {
     display: flex;
     justify-content: center;
     align-self: flex-start;
   }

   .social-icons {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
   /*Tablet styles here*/

   /***** Base tablet styles *****/

   .content-wrapper {
       max-width: 640px;
   }

   /***** Header tablet styles *****/

   header {
     justify-content: space-around;
     padding: 33px 0;
   }

   header .content-wrapper {
     justify-content: space-between;
     width: 100%;
   }

   header figure {
     width: 30%;
   }

   header nav {
     width: 20%;
   }

   .header-divider {
     display: none;
   }

   /***** Homepage tablet styles *****/

   #hero-area .content-wrapper {
     display: flex;
     justify-content: flex-start;
     flex-flow: row wrap;
     padding: 0;
     width: 100%;
   }

   aside .content-wrapper {
     display: flex;
     justify-content: flex-start;
     flex-flow: row wrap;
     padding: 0;
     width: 100%;
   }

   aside .form-description,
   aside .form {
     width: 40%;
     margin: 0;
   }

   aside .form {
     padding-left: 75px;
   }

   input[type=text] {
     padding: 10px;
   }

   input[type=button] {
     padding: 10px 0;
   }

   #features article {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column wrap;
     flex-basis: 50%;

   }

   #features .features-item-description {
     padding: 0 50px;
     text-align: center;
   }

   .reviews article {
     display: flex;
     justify-content: space-between;
   }

   .reviews article div {
     width: 49%;
   }

   /***** About Page tablet styles *****/

   #mission h2 {
     margin: 0;
   }

   .mission-content {
     flex-flow: row nowrap;
   }

   .mission-content p {
     padding-right: 30px;
     width: 50%;
   }

   .contact-content address {
     flex-flow: row nowrap;
   }

   #contact-section h2 {
     margin: 0;
   }

   #address address {
     display: flex;
     justify-content: flex-start;
   }

   #contact-section address div {
     padding-right: 80px;
   }

   /***** FAQ page tablet styles *****/

   #faq {
    flex-flow: row wrap;
   }

   #faq h2 {
     margin: 0;
     width: 100%;
   }

   .faq-content {
     align-self: flex-start;
     padding-right: 50px;
     flex-basis: 40%;
   }

   /***** Footer tablet styles *****/

   footer .content-wrapper {
     width: 65%;
   }

   .footer-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

   footer .contact {
     margin-bottom: 0;
   }

   footer .copyright {
     padding-top: 50px;
     text-align: center;
     width: 100%;
   }

   }

   @media only screen and (min-width: 1200px) {
   /*Desktop styles here*/

   /***** Base desktop styles *****/

   .content-wrapper {
     max-width: 960px;
   }

   /***** Homepage desktop styles *****/

   #hero-area {
     padding: 0;
   }

   #features article {
     flex-basis: 33.3333%;
   }

   /***** About page desktop styles *****/

   .mission-content {
     flex-flow: row nowrap;
   }

   }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
